<!-- <% if(
      organization.bankBeneficiaryName
      || organization.bankName
      || organization.bankAccountNumber
      || organization.bankIFSC
      || organization.bankAccountType
    ) { %>
    <p class="bold">Bank Details</p>
    <% } %>
    <% if(organization.bankBeneficiaryName) { %>
      <p class="m-0"><span class="bold">Beneficiary Name: </span><%= organization.bankBeneficiaryName %></p>
    <% } %>
    <% if(organization.bankName) { %>
      <p class="m-0"><span class="bold">Bank Name: </span><%= organization.bankName %></p>
    <% } %>
    <% if(organization.bankAccountNumber) { %>
    <p class="m-0"><span class="bold">A/C Number: </span><%= organization.bankAccountNumber %></p>
    <% } %>
    <% if(organization.bankIFSC) { %>
      <p class="m-0"><span class="bold">IFSC: </span><%= organization.bankIFSC %></p>
    <% } %>
    <% if(organization.bankAccountType) { %>
      <p class="m-0"><span class="bold">A/C Type: </span><%= organization.bankAccountType %></p>
    <% } %> -->